.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 48px 24px;
  
  &__image {
    width: 120px;
    height: 120px;
    margin-bottom: 16px;
  }
  
  &__icon {
    font-size: 64px;
    margin-bottom: 16px;
  }
  
  &__description {
    font-size: 14px;
    color: #999;
    text-align: center;
  }
  
  &__extra {
    margin-top: 16px;
  }
}
