.match-score-ring {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  &__circle {
    position: relative;
  }
  
  &__value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: baseline;
    justify-content: center;
  }
  
  &__number {
    font-size: 24px;
    font-weight: 600;
  }
  
  &__percent {
    font-size: 12px;
    color: #999;
    margin-left: 2px;
  }
  
  &__label {
    font-size: 12px;
    color: #999;
    margin-top: 8px;
  }
}
