.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  
  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
  }
  
  &__left, &__right {
    width: 80px;
    display: flex;
    align-items: center;
  }
  
  &__back, &__home {
    padding: 8px;
    
    &-icon {
      font-size: 20px;
    }
  }
  
  &__title {
    flex: 1;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
